*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $inter-font;
  font: $main-font;
  color: $main-color;
  background-color: $base-background;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  color: $blue-color;
}

.container {
  max-width: 1960px;
  padding: 0 20px 16px;
  margin: 0 auto;
}

.container.small {
  max-width: 1532px;
  padding: 0px 20px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.d-grid {
  display: grid;
}

// input {
//   border: none;
//   border-radius: 99px;
//   background-color: $gray-background;
//   font: $size5-font;
//   color: $list-color;
// }
// .swiper-wrapper {
//   margin: -20px;
// }
// .swiper-button-disabled {
//   display: none;
// }

// .swiper {
//   overflow: visible;
// }

// .swiper-slide-next,
// .swiper-slide-prev {
//   filter: opacity(50%);
// }

// @media (max-width: 1023px) {
//   .d-flex {
//     flex-wrap: wrap;
//   }
// }
