.identification__btn {
  padding: 8px 10px;
  font: $size6-font;
  color: $blue-color;
  border: 1px solid $accent-blue-color;
  border-radius: 4px;

  &--foto {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
  }
}

.identification__btn:hover {
  box-shadow: 0px 2px 4px $shadow-blue1, 0px 4px 8px $shadow-blue2;
  border-color: transparent;
}
// .btn-icon {
//   background-color: transparent;
//   border: none;
//   font: $main-font;
//   font-size: 18px;
//   color: $btn-color;
//   padding: 0;
//   cursor: pointer;
// }

// .btn-icon:hover {
//   color: $minor-color;
// }

// .watch-me {
//   position: absolute;
//   width: 54px;
//   height: 54px;
//   border: 0;
//   border-radius: 50%;
//   background-color: #fff;
//   box-shadow: 0px 4px 24px rgba(74, 74, 74, 0.5);
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   cursor: pointer;

//   &::after {
//     position: absolute;
//     content: "";
//     border: 14px solid transparent;
//     border-left: 10px solid currentColor;
//     color: $minor-color;
//     left: 26px;
//     top: 50%;
//     transform: translateY(-50%);
//   }

//   &:hover {
//     background-color: $background-gray;
//   }

//   &:active {
//     background-color: $primary-color;
//   }
// }

// .group-btns {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   margin: 0 -10px;
// }

// .hero-btn {
//   padding: 5px 10px;
//   max-width: 180px;
// }

// .btn {
//   font: $h4-font;
//   color: $btn-color;
//   background: $minor-color;
//   border: 1px solid $minor-color;
//   border-radius: 19px;
//   padding: 5px 10px;
//   cursor: pointer;
//   display: block;
//   text-align: center;
// }

// .btn:hover {
//   background-color: transparent;
//   color: $minor-color;
// }

// .btn.btn-ghost {
//   background-color: transparent;
//   color: $primary-color;
//   border: 1px solid transparent;
// }

// .btn.btn-ghost:hover {
//   background-color: $background-gray;
// }

// .btn-product {
//   position: absolute;
//   border: none;
//   font: $h3-font;
//   width: 48px;
//   height: 48px;
//   top: 465px;
//   border-radius: 50%;
//   color: $white-color;
//   background-color: $minor-color;
//   cursor: pointer;
//   z-index: 2;

//   &--rigth {
//     right: 45px;
//   }

//   &--left {
//     left: 45px;
//   }
// }

// .btn-product:hover {
//   background-color: $background-darkgray;
//   transition: all 0.3s;
// }

// .coffee-tabs {
//   display: grid;
//   grid-template-rows: 1fr 1fr 1fr;
//   grid-template-columns: 90px;

//   &__tab {
//     font: $h2-font;
//     text-align: center;
//     color: $primary-color;
//     border: none;
//     opacity: 0.3;
//     background-color: $background-gray;
//     cursor: pointer;

//     &--active {
//       opacity: 1;
//       background-color: $background-white1;
//     }
//     &:not(.coffee-tabs__tab--active):hover {
//       box-shadow: 2px 2px 20px hsla(0deg, 0%, 71%, 0.6);
//     }
//   }
// }
