.footer {
  margin-left: 380px;
  padding: 40px 0 96px;

  .info {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    align-items: center;

    &__box {
      padding: 24px 16px;
      background-color: $gray-background;
      border-radius: 8px;
      text-align: center;

      &-img {
        padding-bottom: 3px;
      }

      &-titile {
        font: $size6-font;
        color: $dark-black-color;
      }

      &-about {
        color: $gray-color;
      }
    }

    &__box:hover {
      box-shadow: 0px 1px 2px $shadow-blue3, 0px 2px 4px $shadow-blue4;
    }
  }
}

@media (max-width: 1447px) {
  .footer {
    .info {
      &__box {
        min-height: 160px;

        &-titile {
          font: $size11-font;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .footer {
    margin-left: 0;

    .info {
      grid-template-columns: 1fr;

      &__box {
        padding: 10px 10px;
        min-height: 130px;
        min-width: 200px;
      }
    }
  }
}
