.mainnav {
  padding-top: 8px;

  &__list {
    grid-auto-flow: column;
    gap: 8px;
    align-items: end;
  }

  &__item {
    padding-bottom: 4px;
  }

  &__link {
    grid-template-columns: 1fr;
    justify-items: center;

    &-title {
      padding-top: 5px;

      &--active {
        color: $light-blue-color;
      }
    }
  }
}

@media (max-width: 1280px) {
  .mainnav {
    &__list {
      grid-template-rows: 1fr 1fr;
      row-gap: 30px;
    }
  }
}

@media (max-width: 1023px) {
  .mainnav {
    &__list {
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &__link {
      &-title {
        font: $size5-font;
      }
    }
  }
}

@media (max-width: 680px) {
  .mainnav {
    &__list {
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
