.pagewrapAside {
  max-width: 304px;

  &__button {
    margin-bottom: 40px;
    padding: 10px 20px;
    background-color: $white-background;
    border: 1px solid $accent-blue-color;
    border-radius: 8px;

    &--img {
      padding-right: 45px;
    }

    &--title {
      padding: 10px 20px;
      font: $size2-font;
      color: $blue-color;
    }
  }
}

.actionbtn {
  padding: 5px 0px 5px 48px;
  font: $size7-font;
  color: $list-color;

  &--pdsub {
    padding: 5px 0px 5px 60px;
  }

  &--pdunder {
    padding: 5px 0px 5px 72px;
  }

  &__title {
    font: $size14-font;
    color: $main-color;
  }

  &__img {
    left: 16px;
    top: 16px;

    &--sub {
      left: 24px;
      top: 6px;
    }

    &--under {
      left: 32px;
      top: 6px;
    }
  }
}

button.pagewrapAside__button,
button.actionbtn {
  background-color: transparent;
  text-align: inherit;
}

.categories {
  font: $size8-font;

  &__link {
    color: $list-color;
  }

  &__title {
    padding: 5px 0 5px 84px;
  }
}

.showbtn {
  padding: 12px;
  margin-left: 84px;
  background-color: $light-blue-background;
  border-radius: 8px;
  cursor: pointer;
  color: $main-color;

  &--expand {
    margin-left: 60px;
  }

  &--filters {
    padding: 6px 22px 10px 8px;
    margin: 32px 0 24px;
    background-color: $white-background;
    box-shadow: 0px 1px 2px $shadow-blue3, 0px 2px 4px $shadow-blue4;
  }

  &--box {
    padding: 0 0 10px;
    margin: 0;

    background-color: transparent;
    color: $filter-color;
  }

  &--sort {
    margin: 0 16px 0 0;
    padding: 7px 12px;
    background-color: $white-background;
    border-radius: 4px;
    border: 1px solid $accent-gray-color;

    &-active {
      border: 1px solid $gray-color;
    }
  }

  &--sort:hover {
    border: 1px solid $gray-color;
  }

  &--big {
    margin: 0;
    border-radius: 4px;

    &-action {
      box-shadow: 0px 1px 2px $shadow-blue1, 0px 2px 4px $shadow-blue2;
      background-color: $white-background;
    }
  }

  &__title {
    font: $size10-font;
    color: $blue-color;
    border: none;

    &--filters {
      font: $size9-font;
      color: $list-color;
    }

    &--box {
      font: $size7-font;
      color: $list-color;
    }

    &--sort {
      font: $main-font;
      color: $main-color;

      &-active {
        color: $list-color;
      }
    }

    &--big {
      color: $gray-color;
      font: $main-font;

      &-action {
        color: $blue-color;
      }
    }
  }

  &__over {
    font: $size14-font;
    color: $main-color;
    top: -10px;
    left: 10px;
    background-color: $white-background;
  }
}

.showbtn:hover {
  box-shadow: 0px 2px 4px $shadow-blue1, 0px 4px 8px $shadow-blue2;
}

span.fa-chevron-down,
span.fa-chevron-up,
span.fa-sort-down {
  margin-left: 10px;
  font-size: 12px;

  &--filters {
    margin-left: 144px;
    color: $blue-color;
  }

  &--box {
    margin-left: 126px;
    color: $filter-color;
  }

  &--marg {
    margin-left: 85px;
  }

  &--sort {
    margin-right: 16px;
    margin-top: 2px;
  }
}

.box {
  margin-bottom: 24px;
  padding: 8px 12px 16px;
  background-color: $light-gray-background;
  border-radius: 4px;

  &__checkbox {
    &--input {
      margin: 12px 19px 12px 7px;
    }

    &--label {
      font: $size8-font;
      color: $list-color;
      cursor: pointer;
    }
  }
}

.showbtn:hover {
  box-shadow: none;
}
