.pagewrapBody {
  box-shadow: 0px 1px 2px $shadow-blue3, 0px 2px 4px $shadow-blue5;
  border-radius: 8px;

  .header {
    align-items: center;
    justify-content: space-between;
  }

  .tabs {
    padding: 20px 16px 16px;

    .layout {
      align-items: center;
      justify-content: flex-start;
    }

    &__title {
      padding-right: 4px;
      font: $size13-font;
      color: $list-color;
    }

    &__list {
      align-items: center;
    }

    &__item {
      margin-right: 8px;
      padding: 6px 12px;
      background-color: $gray-background;
      border-radius: 99px;
      border: 1px solid transparent;
    }

    &__item:hover,
    &__item:active {
      border: 1px solid #5a5b6a;
    }

    &__link {
      font: $main-font;
      color: $filter-color;
    }
  }

  .main {
    padding: 0 16px 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;

    .goods {
      padding: 16px 16px 12px;
      border: 1px solid $white-color;
      border-radius: 4px;

      &__picture {
        padding-bottom: 12px;

        &-img {
          max-width: 100%;
        }
      }

      &__title {
        min-width: 227px;
        min-height: 74px;
        padding-bottom: 8px;
        font: $size8-font;
        color: $list-color;
      }

      &__price {
        padding-bottom: 8px;
        font: $size3-font;
        color: $dark-black-color;
        opacity: 0.87;
      }

      &__comment {
        padding-bottom: 9px;
        min-width: 227px;
        min-height: 41px;
      }

      &__details {
        align-items: center;
      }

      &__rating {
        padding: 10px 10px 10px 2px;

        &-gold {
          overflow: hidden;
        }
      }

      &__number {
        font: $size12-font;
        color: $dark-gray-color;
        margin-right: 30px;
      }

      &__btn {
        padding: 4px 12px;
        font: $size13-font;
        align-items: center;
        border: 1px solid $accent-blue-color;
        box-shadow: none;
      }

      &__btn > img {
        margin-right: 5px;
      }

      &__btn:hover {
        box-shadow: 0px 1px 2px $shadow-blue1, 0px 2px 4px $shadow-blue2;
      }

      &__sale {
        padding: 4px 10px;
        right: 0px;
        top: 3px;
        font: $size14-font;
        color: $green-color;
        border-radius: 4px;
        background-color: $light-green-background;

        &--cool {
          padding: 4px 6px;
          color: $pink-color;
          background-color: $light-pink-background;
        }
      }
    }

    .goods:hover,
    .goods:active {
      box-shadow: 0px 2px 4px $shadow-gray1, 0px 4px 8px $shadow-gray2;
      border-radius: 8px;
    }
  }
}
