$main-color: #787885;
$list-color: #19191d;
$pink-color: #c23564;
$green-color: #37833b;
$white-color: #ffffff;
$dark-black-color: rgba(0, 0, 0, 0.87);
$light-blue-color: #2979ff;
$blue-color: #2264d1;
$dark-blue-color: #0c2146;
$accent-blue-color: #9dc2ff;
$gray-color: #5a5b6a;
$dark-gray-color: #5e6366;
$accent-gray-color: #b4b4bb;
$filter-color: #4a4b57;

$white-background: #ffffff;
$base-background: #f8f8f8;
$light-gray-background: #f7f7fa;
$gray-background: #ededf0;
$light-blue-background: #ebf2ff;
$light-pink-background: #fdedf2;
$light-green-background: #ecf7ed;
$red-background: #f44336;

$redhat-font: "Red Hat Display", Arial, Helvetica, sans-serif;
$quicksand-font: "Quicksand", Arial, Helvetica, sans-serif;
$roboto-font: "Roboto", Arial, Helvetica, sans-serif;
$inter-font: "Inter", Arial, Helvetica, sans-serif;

$main-font: 400 14px/1.4 $inter-font;

$size1-font: 500 36px/1 $redhat-font;
$size2-font: 700 24px/1.5 $quicksand-font;
$size3-font: 700 24px/1.5 $inter-font;
$size4-font: 500 20px/1.6 $inter-font;
$size5-font: 400 20px/1.6 $inter-font;
$size6-font: 700 20px/1.5 $quicksand-font;
$size7-font: 500 16px/1.5 $inter-font;
$size8-font: 400 16px/1.5 $inter-font;
$size9-font: 400 16px/1.5 $roboto-font;
$size10-font: 700 14px/1.14 $roboto-font;
$size11-font: 500 14px/1.6 $roboto-font;
$size12-font: 500 14px/1.4 $inter-font;
$size13-font: 400 14px/1.4 $inter-font;
