@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font: 400 14px/1.4 "Inter", Arial, Helvetica, sans-serif;
  color: #787885;
  background-color: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  color: #2264d1;
}

.container {
  max-width: 1960px;
  padding: 0 20px;
  margin: 0 auto;
  border-radius: 20px;
}

.d-flex {
  display: flex;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.identification__btn {
  padding: 8px 10px;
  font: 700 20px/1.5 "Quicksand", Arial, Helvetica, sans-serif;
  color: #2264d1;
  border: 1px solid #9dc2ff;
  border-radius: 4px;
}

.identification__btn--foto {
  max-width: 40px;
  max-height: 40px;
  width: auto;
  height: auto;
}

.identification__btn:hover {
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  border-color: transparent;
}

.header {
  padding: 20px 16px;
  align-items: center;
}

.header__logo img {
  max-width: 176px;
  max-height: 40px;
  width: auto;
  height: auto;
  padding-right: 40px;
}

.header__nav {
  justify-content: space-between;
  align-items: center;
}

.header__link {
  padding-right: 30px;
  font: 400 20px/1.6 "Inter", Arial, Helvetica, sans-serif;
  color: #5a5b6a;
}

.header__link--electro {
  color: #2264d1;
}

.header__search {
  margin-right: 30px;
}

.header__search--input {
  width: 668px;
  height: 48px;
  padding: 8px 48px;
  border: none;
  border-radius: 99px;
  background-color: #ededf0;
  font: 400 20px/1.6 "Inter", Arial, Helvetica, sans-serif;
  color: #2979ff;
}

.header__search--input::placeholder {
  color: #19191d;
  border: none;
}

.identification {
  flex-wrap: wrap;
  align-items: center;
  margin-right: -20px;
}

.identification__general:not(:last-child) {
  padding-right: 20px;
}

.identification__card {
  align-items: center;
  justify-content: center;
  font: 700 14px/1.25 "Quicksand", Arial, Helvetica, sans-serif;
  max-width: 20px;
  max-height: 20px;
  width: 20px;
  right: 19px;
  top: -9px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #f44336;
}
/*# sourceMappingURL=style.css.map */