@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font: 400 14px/1.4 "Inter", Arial, Helvetica, sans-serif;
  color: #787885;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  border-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  color: #2264d1;
}

.container {
  max-width: 1960px;
  padding: 0 20px 16px;
  margin: 0 auto;
}

.container.small {
  max-width: 1532px;
  padding: 0px 20px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.d-grid {
  display: grid;
}

.pagewrap {
  grid-template-columns: 305px 1fr;
  gap: 75px;
  padding-top: 40px;
}

.width-btn-aside {
  width: 304px;
}

img,
video,
audio,
canvas,
input,
select,
button,
progress {
  max-width: 100%;
}

.ord1 {
  order: 1;
}

.ord2 {
  order: 2;
}

.ord3 {
  order: 3;
}

.ord4 {
  order: 4;
}

.ord5 {
  order: 5;
}

.identification__btn {
  padding: 8px 10px;
  font: 700 20px/1.5 "Quicksand", Arial, Helvetica, sans-serif;
  color: #2264d1;
  border: 1px solid #9dc2ff;
  border-radius: 4px;
}

.identification__btn--foto {
  max-width: 40px;
  max-height: 40px;
  width: auto;
  height: auto;
}

.identification__btn:hover {
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  border-color: transparent;
}

.header {
  padding: 20px 16px;
  align-items: center;
  justify-content: space-between;
}

.header__logo img {
  max-width: 176px;
  max-height: 40px;
  width: auto;
  height: auto;
  padding-right: 40px;
}

.header__nav {
  align-items: center;
}

.header__link {
  padding-right: 30px;
  font: 400 20px/1.6 "Inter", Arial, Helvetica, sans-serif;
  color: #5a5b6a;
}

.header__link--regist {
  padding-right: 110px;
}

.header__link--electro {
  padding-right: 120px;
  color: #2264d1;
}

.header__search {
  margin-right: 30px;
}

.header__search-input {
  width: 668px;
  height: 48px;
  padding: 8px 48px;
  border: none;
  border-radius: 99px;
  background-color: #ededf0;
  font: 400 20px/1.6 "Inter", Arial, Helvetica, sans-serif;
  color: #2979ff;
}

.header__search-input::placeholder {
  color: #19191d;
  border: none;
}

.header__search--icon {
  min-height: 17.5px;
  width: 17.5px;
  height: 17.5px;
  top: 15px;
  left: 15px;
}

.header__search--close {
  min-height: 14px;
  width: 14px;
  height: 14px;
  top: 17px;
  right: 17px;
}

.identification {
  flex-wrap: nowrap;
  align-items: center;
}

.identification__general:not(:last-child) {
  padding-right: 20px;
}

.identification__card {
  align-items: center;
  justify-content: center;
  font: 700 14px/1.25 "Quicksand", Arial, Helvetica, sans-serif;
  max-width: 20px;
  max-height: 20px;
  width: 20px;
  right: 19px;
  top: -9px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #f44336;
}

@media (max-width: 1890px) {
  .header__link--electro {
    padding-right: 30px;
  }
  .header__link--regist {
    padding-right: 30px;
  }
}

@media (max-width: 1800px) {
  .header__search-input {
    max-width: 500px;
  }
}

@media (max-width: 1560px) {
  .header__logo > img {
    padding-right: 10px;
  }
  .header__nav {
    font: 400 16px/1.5 "Inter", Arial, Helvetica, sans-serif;
  }
  .header__link {
    padding-right: 15px;
  }
  .header__search-input {
    max-width: 440px;
  }
}

@media (max-width: 1447px) {
  .header {
    flex-wrap: wrap;
  }
  .identification {
    position: fixed;
  }
}

.mainnav {
  padding-top: 8px;
}

.mainnav__list {
  grid-auto-flow: column;
  gap: 8px;
  align-items: end;
}

.mainnav__item {
  padding-bottom: 4px;
}

.mainnav__link {
  grid-template-columns: 1fr;
  justify-items: center;
}

.mainnav__link-title {
  padding-top: 5px;
}

.mainnav__link-title--active {
  color: #2979ff;
}

.pagewrapAside {
  max-width: 305px;
}

.pagewrapAside__button {
  margin-bottom: 40px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #9dc2ff;
  border-radius: 8px;
}

.pagewrapAside__button--img {
  padding-top: 14px;
}

.pagewrapAside__button--title {
  padding-left: 24px;
  font: 700 24px/1.5 "Quicksand", Arial, Helvetica, sans-serif;
  color: #2264d1;
}

.actionbtn {
  padding: 5px 0px 5px 48px;
  font: 500 16px/1.5 "Inter", Arial, Helvetica, sans-serif;
  color: #19191d;
}

.actionbtn--pdsub {
  padding: 5px 0px 5px 60px;
}

.actionbtn--pdunder {
  padding: 5px 0px 5px 72px;
}

.actionbtn__title {
  font: 400 14px/1.4 "Inter", Arial, Helvetica, sans-serif;
  color: #787885;
}

.actionbtn__img {
  left: 16px;
  top: 16px;
}

.actionbtn__img--sub {
  left: 24px;
  top: 6px;
}

.actionbtn__img--under {
  left: 32px;
  top: 6px;
}

button.pagewrapAside__button,
button.actionbtn {
  background-color: transparent;
  text-align: inherit;
}

.categories {
  font: 400 16px/1.5 "Inter", Arial, Helvetica, sans-serif;
}

.categories__link {
  color: #19191d;
}

.categories__title {
  padding: 5px 0 5px 84px;
}

.showbtn {
  padding: 12px;
  margin-left: 84px;
  background-color: #ebf2ff;
  border-radius: 8px;
  cursor: pointer;
  color: #787885;
}

.showbtn--expand {
  margin-left: 60px;
}

.showbtn--expand:hover {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}

.showbtn--filters {
  padding: 6px 16px 10px 8px;
  margin: 32px 0 24px;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}

.showbtn--box {
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #4a4b57;
}

.showbtn--sort {
  margin: 0 16px 0 0;
  padding: 7px 12px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #b4b4bb;
}

.showbtn--sort-active {
  border: 1px solid #5a5b6a;
}

.showbtn--sort:hover {
  border: 1px solid #5a5b6a;
  box-shadow: none;
}

.showbtn--big {
  margin: 0;
  border-radius: 4px;
  border: 1px solid transparent;
}

.showbtn--big-action {
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.2), 0px 2px 4px rgba(41, 121, 255, 0.2);
  background-color: #ffffff;
}

.showbtn--big:hover {
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.2), 0px 2px 4px rgba(41, 121, 255, 0.2);
}

.showbtn__title {
  font: 700 14px/1.14 "Roboto", Arial, Helvetica, sans-serif;
  color: #2264d1;
  border: none;
}

.showbtn__title--filters {
  font: 400 16px/1.5 "Roboto", Arial, Helvetica, sans-serif;
  color: #19191d;
  float: left;
}

.showbtn__title--box {
  font: 500 16px/1.5 "Inter", Arial, Helvetica, sans-serif;
  color: #19191d;
  float: left;
}

.showbtn__title--sort {
  font: 400 14px/1.4 "Inter", Arial, Helvetica, sans-serif;
  color: #787885;
}

.showbtn__title--sort-active {
  color: #19191d;
}

.showbtn__title--big {
  color: #5a5b6a;
  font: 400 14px/1.4 "Inter", Arial, Helvetica, sans-serif;
}

.showbtn__title--big-action {
  color: #2264d1;
}

.showbtn__over {
  font: 400 14px/1.4 "Inter", Arial, Helvetica, sans-serif;
  color: #787885;
  top: -10px;
  left: 10px;
  background-color: #ffffff;
}

.showbtn--tiles {
  padding: 10px 25px;
  border-radius: 4px;
}

.showbtn--tiles-action {
  margin-left: 0;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.2), 0px 2px 4px rgba(41, 121, 255, 0.2);
}

.showbtn--tiles:hover {
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.2), 0px 2px 4px rgba(41, 121, 255, 0.2);
}

span.fa-chevron-down,
span.fa-chevron-up,
span.fa-sort-down {
  margin-left: 10px;
  font-size: 12px;
}

span.fa-chevron-down--filters,
span.fa-chevron-up--filters,
span.fa-sort-down--filters {
  margin-left: 87px;
  color: #2264d1;
}

span.fa-chevron-down--box,
span.fa-chevron-up--box,
span.fa-sort-down--box {
  margin-left: 70px;
  color: #4a4b57;
}

span.fa-chevron-down--marg,
span.fa-chevron-up--marg,
span.fa-sort-down--marg {
  margin-right: 26px;
  margin-left: 50px;
}

span.fa-chevron-down--sort,
span.fa-chevron-up--sort,
span.fa-sort-down--sort {
  margin-right: 16px;
  margin-top: 2px;
}

.box {
  margin-bottom: 24px;
  padding: 8px 22px 16px 12px;
  background-color: #f7f7fa;
  border-radius: 4px;
}

.box__checkbox--input {
  margin: 12px 19px 12px 7px;
}

.box__checkbox--label {
  font: 400 16px/1.5 "Inter", Arial, Helvetica, sans-serif;
  color: #19191d;
  cursor: pointer;
}

.pagewrapBody {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
}

.pagewrapBody .header {
  align-items: center;
  justify-content: space-between;
}

.pagewrapBody .tabs {
  padding: 20px 16px 16px;
}

.pagewrapBody .tabs .layout {
  align-items: center;
  justify-content: flex-start;
}

.pagewrapBody .tabs__title {
  padding-right: 4px;
  font: 500 14px/1.4 "Inter", Arial, Helvetica, sans-serif;
  color: #19191d;
}

.pagewrapBody .tabs__list {
  align-items: center;
}

.pagewrapBody .tabs__item {
  margin-right: 8px;
  padding: 6px 12px;
  background-color: #ededf0;
  border-radius: 99px;
  border: 1px solid transparent;
}

.pagewrapBody .tabs__item:hover, .pagewrapBody .tabs__item:active {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}

.pagewrapBody .tabs__link {
  font: 400 14px/1.4 "Inter", Arial, Helvetica, sans-serif;
  color: #4a4b57;
}

.pagewrapBody .main {
  padding: 0 16px 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.pagewrapBody .main .goods {
  padding: 16px 16px 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.pagewrapBody .main .goods__picture {
  padding-bottom: 12px;
}

.pagewrapBody .main .goods__picture-img {
  max-width: 100%;
}

.pagewrapBody .main .goods__title {
  min-height: 74px;
  padding-bottom: 8px;
  font: 400 16px/1.5 "Inter", Arial, Helvetica, sans-serif;
  color: #19191d;
}

.pagewrapBody .main .goods__price {
  padding-bottom: 8px;
  font: 700 24px/1.5 "Inter", Arial, Helvetica, sans-serif;
  color: #000000;
  opacity: 0.87;
}

.pagewrapBody .main .goods__comment {
  padding-bottom: 9px;
  min-height: 41px;
}

.pagewrapBody .main .goods__details {
  align-items: center;
}

.pagewrapBody .main .goods__rating {
  padding: 10px 10px 10px 2px;
}

.pagewrapBody .main .goods__rating-gold {
  overflow: hidden;
}

.pagewrapBody .main .goods__number {
  font: 500 14px/1.6 "Roboto", Arial, Helvetica, sans-serif;
  color: #5e6366;
  margin-right: 30px;
}

.pagewrapBody .main .goods__btn {
  padding: 4px 12px;
  font: 500 14px/1.4 "Inter", Arial, Helvetica, sans-serif;
  align-items: center;
  border: 1px solid #9dc2ff;
  box-shadow: none;
}

.pagewrapBody .main .goods__btn > img {
  margin-right: 5px;
}

.pagewrapBody .main .goods__btn:hover {
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.2), 0px 2px 4px rgba(41, 121, 255, 0.2);
}

.pagewrapBody .main .goods__sale {
  padding: 4px 10px;
  right: 0px;
  top: 3px;
  font: 400 14px/1.4 "Inter", Arial, Helvetica, sans-serif;
  color: #37833b;
  border-radius: 4px;
  background-color: #ecf7ed;
}

.pagewrapBody .main .goods__sale--cool {
  padding: 4px 6px;
  color: #c23564;
  background-color: #fdedf2;
}

.pagewrapBody .main .goods:hover,
.pagewrapBody .main .goods:active {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(59, 69, 123, 0.2);
  border-radius: 8px;
}

.footer {
  margin-left: 380px;
  padding: 40px 0 96px;
}

.footer .info {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  align-items: center;
}

.footer .info__box {
  padding: 24px 16px;
  background-color: #ededf0;
  border-radius: 8px;
  text-align: center;
}

.footer .info__box-img {
  padding-bottom: 3px;
}

.footer .info__box-titile {
  font: 700 20px/1.5 "Quicksand", Arial, Helvetica, sans-serif;
  color: #000000;
}

.footer .info__box-about {
  color: #5a5b6a;
}

.footer .info__box:hover {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}
/*# sourceMappingURL=style.css.map */